.post-content {
  ul {
    list-style-type: disc;
    padding-left: 1.6rem;
  }

  li {
    line-height: 1.7;

    p {
      margin: 0;
    }

    &:not(:first-child) {
      margin-top: 4px;
    }

    & + & {
      margin-top: 12px;
    }
  }
}
