/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2);
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--neutral-hover);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 4px;
  //border: 3px solid orange;
}