.post-content {
  table {
    @include default-ui-color;
    border: 1px solid grey;
    
    // Adaptive for mobile fonts
    font-size: var(--fsize-sm);
    @include adaptive-from-phone {
      font-size: var(--fsize-standard);
    }
    
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
  }

  table thead th,
  table tfoot th {
    @include default-ui-color;

    // Adaptive for mobile fonts
    font-size: calc(var(--fsize-sm) + 2px);
    @include adaptive-from-phone {
      font-size: calc(var(--fsize-standard) + 2px);
    }
    
    word-wrap: normal;
  }

  table caption {
    padding: 0.5em;
  }

  table th,
  table td {
    padding: 0.5em;
    border: 1px solid var(--neutral);
  }
}
