<script setup lang="ts">
import NAVIGATION from "@d/navigation";
import { SITE_DESCRIPTION, SITE_NAME } from "~/constants/meta";
useOpenGraph({
  gradient: "green",
  title: SITE_NAME,
  description: SITE_DESCRIPTION,
});
</script>

<template>
  <div class="home-page">
    <BaseHero />
    <div class="navigation">
      <NavigationMenu :navigation="NAVIGATION" />
    </div>
  </div>
</template>


<style lang="scss" scoped>
.navigation {
  margin-top: 32px;
}
</style>