:root {
  --color-black: #1e1e1e;
  --color-white: #fefefe;
  --color-blue: #769fb6;
  --color-pink: #b676ab;
  --color-red: #d35959;
  
  --shadow-black: hsla(0, 0%, 12%, 0.08);
  --shadow-white: hsla(0, 0%, 100%, 0.04);

  /* Color styles */
  --color-neutral-1: #ffffff;
  --color-neutral-2: #fdfdfd;
  --color-neutral-3: #f6f6f6;
  --color-neutral-4: #f2f2f2;
  --color-neutral-5: #dddddd;
  --color-neutral-6: #c7c7c7;
  --color-neutral-7: #9a9a9a;
  --color-neutral-8: #6d6d6d;
  --color-neutral-9: #5b5b5b;
  --color-neutral-10: #414140;
  --color-neutral-11: #3a3a39;
  --color-neutral-12: #313130;
}

// Current colorscheme
:root {
  --foreground: var(--color-black);
  --background: var(--color-white);
  --shadow: var(--shadow-black);
  --link: var(--color-blue);
  --neutral: var(--color-neutral-5);
  --neutral-hover: var(--color-neutral-7);
}

// Night colorscheme
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--color-white);
    --background: var(--color-black);
    --shadow: var(--shadow-white);
    --neutral: var(--color-neutral-12);
    --neutral-hover: var(--color-neutral-10);
  }
}