:root {
  // UI sizes
  --size-footer: 32px;
  --size-header: 84px;

  // Border radius
  --border-radius-100: 0.125rem; // 2px
  --border-radius-200: 0.25rem; // 4px
  --border-radius-300: 0.5rem; // 8px
  --border-radius-400: 1rem; // 16px

  // Font sizes
  --fsize-xs: 0.5rem; // 8px
  --fsize-sm: 0.625rem; // 10px
  --fsize-sm-plus: 0.75rem; // 12px
  --fsize-md: 0.875rem; // 14px
  --fsize-md-plus: 1rem; // 16px
  --fsize-bg: 1.25rem; // 20px
  --fsize-bg-plus: 1.5rem; // 24px
  --fsize-lg: 2rem; // 32px
  --fsize-lg-plus: 2.5rem; // 40px
  --fsize-xl: 3rem; // 48px
  --fsize-xl-plus: 3.25rem; // 52px
  --fsize-extreme: 4rem; // 64px
  
  // Spacings
  --sp-100: 2px;
  --sp-200: 4px;
  --sp-300: 8px;
  --sp-400: 12px;
  --sp-500: 16px;
  --sp-600: 20px;
  --sp-700: 24px;
  --sp-800: 28px;
  --sp-900: 32px;
  --sp-1000: 64px;
}

// Adaptive things
:root {

  // Adaptive spacings
  --spacing-sm: var(--sp-200);
  --spacing-md: var(--sp-300);
  --spacing-lg: var(--sp-500);

  @media screen and (min-width: $bp-tablet) {
    --spacing-sm: var(--sp-300);
    --spacing-md: var(--sp-400);
    --spacing-lg: var(--sp-500);
  }

  @media screen and (min-width: $bp-laptop) {
    --spacing-sm: var(--sp-400);
    --spacing-md: var(--sp-500);
    --spacing-lg: var(--sp-700);
  }
  
  // Adaptive font size
  --fsize-standard: var(--fsize-md-plus);
  --fsize-big: var(--fsize-lg);

  @media screen and (min-width: $bp-tablet) {
    --fsize-standard: var(--fsize-bg);
    --fsize-big: var(--fsize-bg-plus);
  }

  @media screen and (min-width: $bp-laptop) {
    --fsize-standard: var(--fsize-md);
    --fsize-big: var(--fsize-bg);
  }
}