// Manrope
@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-Regular.woff2') format('woff2'),
  url('/fonts/manrope/Manrope-Regular.woff') format('woff'),
  url('/fonts/manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-SemiBold.woff2') format('woff2'),
  url('/fonts/manrope/Manrope-SemiBold.woff') format('woff'),
  url('/fonts/manrope/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-Medium.woff2') format('woff2'),
  url('/fonts/manrope/Manrope-Medium.woff') format('woff'),
  url('/fonts/manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-Bold.woff2') format('woff2'),
  url('/fonts/manrope/Manrope-Bold.woff') format('woff'),
  url('/fonts/manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


// Jetbrains Mono
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/JetBrainsMono-Bold.woff2') format('woff2'),
  url('/fonts/jetbrains-mono/JetBrainsMono-Bold.woff') format('woff'),
  url('/fonts/jetbrains-mono/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2') format('woff2'),
  url('/fonts/jetbrains-mono/JetBrainsMono-Regular.woff') format('woff'),
  url('/fonts/jetbrains-mono/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/JetBrainsMono-MediumItalic.woff2') format('woff2'),
  url('/fonts/jetbrains-mono/JetBrainsMono-MediumItalic.woff') format('woff'),
  url('/fonts/jetbrains-mono/JetBrainsMono-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/JetBrainsMono-SemiBoldItalic.woff2') format('woff2'),
  url('/fonts/jetbrains-mono/JetBrainsMono-SemiBoldItalic.woff') format('woff'),
  url('/fonts/jetbrains-mono/JetBrainsMono-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/JetBrainsMono-SemiBold.woff2') format('woff2'),
  url('/fonts/jetbrains-mono/JetBrainsMono-SemiBold.woff') format('woff'),
  url('/fonts/jetbrains-mono/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/JetBrainsMono-Medium.woff2') format('woff2'),
  url('/fonts/jetbrains-mono/JetBrainsMono-Medium.woff') format('woff'),
  url('/fonts/jetbrains-mono/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/JetBrainsMono-Italic.woff2') format('woff2'),
  url('/fonts/jetbrains-mono/JetBrainsMono-Italic.woff') format('woff'),
  url('/fonts/jetbrains-mono/JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono/JetBrainsMono-BoldItalic.woff2') format('woff2'),
  url('/fonts/jetbrains-mono/JetBrainsMono-BoldItalic.woff') format('woff'),
  url('/fonts/jetbrains-mono/JetBrainsMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}